# Build output
dist/

# Dependencies
/node_modules

# Firebase
.firebase/
.firebaserc
# OS
.DS_Store
Thumbs.db
# Environment variables 
.env
.env.*

# Logs
*.log
npm-debug.log*

# Editor
.vscode
.idea/

# TypeScript cache
*.tsbuildinfo